<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an Album</title>
</head>
<body>
<header><nav><ul><li><a href="/albums">Albums</a></li></ul></nav></header>
<header><nav><ul><li><a href="/songs">Songs</a></li></ul></nav></header>
<header><nav><ul><li><a href="/songs/new">Add Songs</a></li></ul></nav></header>
    <h1>Add Albums</h1>
        <form method="POST" action="/albums">
            <label for="title">Album Title: </label><input type="text" name="title" id="title" required/><br>
            <label for="artist">Album Artist: </label><input name="artist" type="text" id="artist"  required/><br>
            <label for="songCount">Album Song Count: </label><input type="number" name="songCount" id="songCount" required /><br>
            <label for="length">Album Length: </label><input type="number" name="length" id="length" required/><br>
            <label for="imageUrl">Album Image URL :</label><input type="url" name="imageUrl" id="imageUrl" required/><br>
            <input type="submit" /><br>
        </form>



</body>
</html>