<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an Album</title>
</head>
<body>
<form method="POST" action="/albums">
    <label for="title">Album Title:</label><input type="text" name="title" id="title" required/>
    <label for="artist">Album Artist:</label><input name="artist" type="text" id="artist"  required/>
    <label for="songCount">Album Song Count:</label><input type="number" name="songCount" id="songCount" required />
    <label for="length">Album Length:</label><input type="number" name="length" id="length" required/>
    <label for="imageURL">Album Image URL:</label><input type="url" name="imageURL" id="imageURL" required/>
    <input type="submit" />
</form>

</body>
</html>