<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add an Album</title>
</head>
<body>
<form method="POST" action="/albums">
    <label for="title">Album Title:</label><input name="title" id="title"/>
    <label for="artist">Album Artist:</label><input name="artist" id="artist" />
    <label for="songCount">Album Song Count:</label><input name="songCount" id="songCount" />
    <label for="length">Album Length:</label><input name="length" id="length" />
    <label for="imageURL">Album Image URL:</label><input name="imageURL" id="imageURL" />
    <input type="submit" />
</form>

</body>
</html>