<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Album</title>
</head>
<body>
<header><nav><ul><li><a href="/songs">Songs</a></li></ul></nav></header>
<header><nav><ul><li><a href="/songs/new">Add Songs</a></li></ul></nav></header>
<header><nav><ul><li><a href="/albums/new">Add an Album</a></li></ul></nav></header>
    <h1>All albums</h1>
    <ul>
        <li  th:each="album : ${albums}" >
            <br><a th:href="@{'/albums/' + ${album.id}}"><span th:text="${album.title}"></span></a><br>
            <br><span th:text="${album.artist}"></span><br>
            <hr>
        </li>
    </ul>


</body>
</html>