<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>
<header><nav><ul><li><a href="/albums">Albums</a></li></ul></nav></header>
<header><nav><ul><li><a href="/albums/new">Add Album</a></li></ul></nav></header>
<header><nav><ul><li><a href="songs/new">Add songs</a></li></ul></nav></header>
<h1>All songs</h1>
<ul>
    <li  th:each="song : ${songs}" >
        <span th:text="${song.title}"></span>, <span th:text="${song.trackNumber}"></span>, <span th:text="${song.length}"></span>, <span th:text="${album_id.id}"></span>

    </li>
</ul>
</body>
</html>