<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>
<header><nav><ul><li><a href="/albums">Albums</a></li></ul></nav></header>
<header><nav><ul><li><a href="/albums/new">Add Album</a></li></ul></nav></header>
<header><nav><ul><li><a href="songs/new">Add songs</a></li></ul></nav></header>
<h1>All songs</h1>
<ul>
    <li th:each="song : ${songs}">
        Title:<span th:text="${song.title}" > </span> <br>
        Track:  <span th:text="${song.trackNumber}"></span><br>
        Song Length: <span th:text="${song.length}"></span><br>
        Album Title: <span th:text="${song.album.title}"></span><br>
        <hr>
    </li>
</ul>
</body>
</html>